@font-face {
	font-family: Yytrium;
	src: local(Yytrium),
	    url(fonts/Yytrium.ttf);
}
h1 {
    font-family: Yytrium, serif;
    border: 20px groove #ffaa00;
    background: #ff6bfd;
    border-radius: 22px
}

@font-face {
	font-family: FrakturSawmill;
	src: local(FrakturSawmill),
	    url(fonts/FrakturSawmill.ttf);
}
h4 {
    font-family: FrakturSawmill, serif;
    font-size: 200%;
    background: #009402;
    border-radius: 10px;
    border: 10px groove #ffaa00
}

@font-face {
	font-family: KaifShr;
	src: local(KaifShr),
	    url(fonts/KaifShr.otf);
}
ul, ol, h2, h6 {
    font-family: KaifShr, serif;
    font-size: 120%
}

form {
    border: 10px dashed #ffaa00;
    background: #00ff00;
    border-radius: 10px
}