{% extends "base_nav.html" %}

{% block content %}
    <h1>Form</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% import 'macro_file.html' as field %}
        {{ field.field(form.team_leader, type='integer') }}
        {{ field.field(form.job) }}
        {{ field.field(form.work_size, type='integer') }}
        {{ field.field(form.collaborators) }}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}