<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ style }}"/>
    <title>{{title}}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/MARS-2-7.png')}}" type="image/x-icon"/>
</head>
  <body>
    <!-- Begin page content -->
    <main role="main" class="container">

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

            <li class="page-item"><a class="page-link" href="/index">start</a></li>
            <li class="page-item"><a class="page-link" href="/training/{{ profession }}">tren</a></li>
            <li class="page-item"><a class="page-link" href="/list_prof/ol">list</a></li>
            <li class="page-item active">
                <a class="page-link" href="/answer">answer<span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="/alert">alert</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>

          </ul>
        </nav>
        <h1 align="center" style="color:#000">Mars Colonization Mission</h1>
        <h4 align="center" style="color:#ff6bfd">And apple trees will bloom on Mars</h4>
        <div align="center">
            <img src="{{ url_for('static', filename='images/MARS-2-7.png') }}" alt = 'loooooool'>
        </div>
        {% block content %}{% endblock %}
    </main>
  </body>
</html>