{% extends "base_nav.html" %}

{% block content %}
    <div>
        <{{ type }}>
        <li>Элемент маркированного списка</li>
        <li>Элемент маркированного списка</li>
        <li>Элемент маркированного списка
            <{{ type }}>
                <li>Элемент 2 уровня</li>
                <li>Элемент 2 уровня</li>
                <li>Элемент 2 уровня</li>
            </{{ type }}>
        </li>
        <li>Элемент маркированного списка</li>
        <li>Элемент маркированного списка</li>
        </{{ type }}>
    </div>
{% endblock %}